/* Estilo geral para o corpo da página */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
    color: #333;
}

/* Cabeçalho */
header {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 20px;
}

header img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
}

/* Container principal */
.container {
    width: 80%;
    margin: 0 auto;
}

/* Estilo para os títulos principais */
h2 {
    color: #4CAF50;
    font-size: 1.8em;
    margin-bottom: 10px;
}

/* Estilo para as seções */
section {
    margin: 20px 0;
}

/* Estilo para os itens de lista */
ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin-bottom: 10px;
}

/* Seção de conteúdos com 3 imagens */
.content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.content div {
    width: 30%;
    padding: 10px;
}

.content img {
    width: 100%;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Rodapé */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 30px;
}

/* Estilo de links */
a {
    color: #4CAF50;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
